* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
body {
    background-color: rgb(238, 238, 238);
}
.wrap {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header top-bar"
        "header main";
    grid-template-columns: 250px auto;
    grid-template-rows: 45px auto;
}
.header {
    display: inline-block;
    grid-area: header;
    background-color: #f53946;
    color: #fff;
}
.header .logo {
    font-family: "Shrikhand";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.nav__container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.nav__container .nav__title {
    padding: 10px 20px;
    width: 100%;
    background-color: #f55561;
}
.nav__container .nav__item {
    margin: 10px 20px;
}
.top-bar {
    grid-area: top-bar;
    display: flex;
}
.top-bar .search {
    width: 100%;
    height: 50px;
}
.top-bar .search__form input {
    height: 2rem;
    width: 60vw;
    margin: 5px;
}
.top-bar .search__label {
    display: none;
}
.top-bar .profile__icon {
    margin: 5px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #745dfb;
    color: #fff;
}
.main {
    grid-area: main;
}
.main .main__header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    background: url("http://unsplash.it/1200/600?image=495") center;
}

.main .main__body .listing-card ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.main .main__body .listing-card li {
    padding: 10px;
    background-color: #fff;
    margin: 5px;
}
.main .main__body .listing-card__image {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    height: 400px;
}
