* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
.wrap {
    display: grid;
    grid-template-areas:
        "header top-bar"
        "header main";
}
.header {
    display: inline-block;
    grid-area: header;
    background-color: #f53946;
    color: #fff;
}
.header .logo {
    font-family: "Shrikhand";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.nav__container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.nav__container .nav__title {
    padding: 20px;
    width: 100%;
    background-color: #f55561;
}
.nav__container .nav__item {
    margin: 20px;
}
.top-bar {
    grid-area: top-bar;
    display: flex;
}
.top-bar .search {
    width: 100%;
    height: 50px;
}
.top-bar .search__form {
}
.top-bar .search__form input {
    height: 2rem;
    width: 60vw;
    margin: 5px;
}
.top-bar .search__label {
    display: none;
}
.top-bar .profile__icon {
    margin: 5px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #745dfb;
    color: #fff;
}
.main {
    grid-area: main;
}
.main .main__header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
}
